.input-M{
    outline: none;
    border: none;
    width: 250px;
    height: 28px;
    border-radius: 2rem 0 0 2rem;
    box-shadow: 2px 5px 10px #ac7f64;
    text-align: center;
    position: relative; left:10px;
    position: relative; top:60px;
    
}

.Search-button{
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem;
    box-shadow: 2px 5px 10px #ac7f64;
    background-color: white;
    color: black;
    border-radius: 0 2rem 2rem 0;
    font-size: 1rem;
    position: relative; left:15px;
    position: relative; top: 60px;
}